h1 {
  color: #296d98;
  text-align: center;
  font-size: 1.2em;
}
li {
  display: inline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #296d98;
}
li {
  float: left;
  border-right:solid 1px #fff;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #192841;
}

.active {
  background-color: #192841;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 30;
  width: 100%;
  height: 100%;
  background-color: #296d98;
  color: white;
  text-align: center;
}
form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
<<<<<<< HEAD



#pic1{
width: 40%;
height: 40%;
padding-left: 20px;
position:absolute;
left:5px;
top:340px;
}

#signup_form{
  border-style: inset;
  border: 2px solid steelblue;
  border-radius: 5px 5px 5px 5px;
  width: 36%;
  margin: 8px 650px;
}

#first_name, #last_name, #email, #phone, #date_of_birth{
  padding-bottom: .3em;
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: Black;
}

input[type=text]{
  width: 240px;
  height: 30px;
  margin: 10px 0;
  border-radius: 5px 5px 5px 5px;
  background-color: Azure;
  border: solid steelblue;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

input[type=email]{
  width: 340px;
  height: 30px;
  margin: 8px 0;
  border-radius: 5px 5px 5px 5px;
  background-color: Azure;
  border: solid steelblue;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

input::placeholder{
  color: lightblue;
  font-size: 0.8em;
  font-style: italic;
}

input[type=tel]{
  width: 340px;
  height:30px;
  margin: 8px 0;
  border-radius: 5px 5px 5px 5px;
  background-color: Azure;
  border: solid steelblue;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

input[type=submit]{
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 20px 840px;
  background-color: steelblue;
  border-radius: 5px 5px 5px 5px;
  color: Azure;
  border: 2px solid steelblue;
  font-family: Arial, sans-serif;
}

input[type=submit]:hover{
  background-color: white;
  color: black;
}

#center{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: steelblue;
  padding-bottom: 16px;
  margin-top: 10px;
  margin-left: 6em;
}

#text_center{
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: steelblue;
  padding-bottom: 16px;
  margin-top: 1px;
  margin-left: 25em;
=======
#about-content p, about-content ul{
  font-size: 1em;
  line-height: 1.1em;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 20px;
}
#questions{
  background-color: unset;
  list-style-type: unset;
  padding-left: 20px;
}
ul li{
  display: list-item;
  list-style-type: circle;
}
@media screen and (min-width: 480px) {
  h1{

  }
  #about-content p,
  #about-content ul{
    font-size: 1.2em;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 20px;
  }
  #questions{
    background-color: unset;
    list-style-type: unset;
    padding-left: 30px;
  }

@media screen and (min-width: 768px) {
  h1{

  }
  #about-content p,
  #about-content ul{
    font-size: 1.2em;
    line-height: 1.1em;
    margin-right: 15%;
    margin-left: 15%;
    padding-bottom: 20px;

  }
  #questions{
    background-color: unset;
    list-style-type: unset;
    padding-left: 40px;
  }

}
